@media all {
    .page-break	{ display: none; }
}

@media print {
    #resume {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin:  0;
        width: 85%;
    }
    #menu {
        height: 0 !important;
        display: none !important;
    }

    .page-break	{ display: block; page-break-before: always; }
}