
@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 10px 0;
    transition: padding .3s;
    .navbar-brand {
      font-size: 2em;
      transition: all .3s;
    }
    &.navbar-shrink {
      padding: 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  a:focus {
    outline: 0;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li a:focus {
      outline: 0;
    }
  }
}

.navbar-default, .navbar-inverse {
  border: 0;
}

.navbar-default {
  background-color: $primary2;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  .navbar-nav > {
    .active > a {
      background-color: $primary3;
      color: $primary2;
      &:hover, &:focus {
        background-color: $primary3;
      }
    }
    li > a {
      &:hover, &:focus {
        color: $primary3;
      }
    }
  }
  .navbar-brand {
    text-transform: none;
    color: $primary3;
    &:hover, &:focus {
      color: $primary3;
    }
  }
}
