body {
  overflow-x: hidden;
  /*font-size: 19px;*/
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 19px;
  &.small {
    font-size: 16px;
  }
}

a {
  outline: 0;
  color: $primary1;
  transition: all 0.25s;
  &:hover, &:focus, &:active, &.active {
    outline: 0;
    color: $primary1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h1, h2 {
  text-transform: uppercase;
}
