section {
  padding: 100px 0;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  &.bg-primary1 {
    color: #fff;
    background: $primary1;
  }
  &.bg-primary2 {
    color: #fff;
    background: $primary2;
  }
  &.bg-primary3 {
    color: #fff;
    background: $primary3;
  }
  &.bg-primary4 {
    color: $primary2;
    background: $primary4;
  }
  &.bg-white {
    color: $primary2;
    background: #fff;
  }
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
    &.first {
      padding-top: 75px;
    }
  }
}
