#resume > header {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  border-bottom: 1px solid #999;
}

.name {
  margin: 0 0 16px 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: bold;
  height: 40px;
  span {
    margin-right: 10px;
  }

  @media (min-width: 450px) {
    font-size: 42px;
  }
}
#resume .contact {
  text-align: right;
  font-size: 15px;

  @media (min-width: 450px) {
    font-size: 100%;
  }

  a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
    &:hover {
      border-bottom-style: solid;
      color: black;
    }
  }

  header, .label {
    display: none;
  }
}



